{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <div class="container" style="padding:30px">
        <table class="table table-striped table bordered mt-3">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Date and Time</th>
                    <th>BUY or SELL</th>
                    <th>MARKET or P2P</th>
                    <th>Stock's symbol</th>
                    <th>Price per Share</th>
                    <th>No. of shares</th>
                    <th>Total</th>                    
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ transaction.time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.transaction_source }}</td>
                    <td>{{ transaction.ticker }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ (transaction.price * transaction.amount) | usd }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
