{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Quote</h1>
    <div class="container mt-4" style="padding:30px">
        <table class="table table-striped table-bordered">
            <thead class="table">
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ symbol }}</th>
                    <th>{{ name }}</th>
                    <th>{{ price | usd }}</th>
                </tr>
            </tbody>
        </table>
        <div>{{ chart | safe }}</div>
    </div>

{% endblock %}
